.avatarWrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: var(--note-size);
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    background: #1e8cbe;
}

.avatarWrapper .avatarEmailField {
    padding: 0;
    border: none;
    width: 164px;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
}

.avatarWrapper .avatarEmailField::placeholder {
    color: #fff;
}

.avatarButton {
    background: none;
    border: none;
    outline: none;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}