.addButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightgreen;
    display: flex;
    cursor: pointer;
    border: none;
    outline: none;
}

.addIconWrapper {
    width: 50px;
    height: 50px;
    margin: auto;
}