.newNote {
    margin: 6px;
    padding: 10px;
    width: var(--note-size);
    height: var(--note-size);
    background: lightgreen;
}

.newNote textarea {
    width: calc(var(--note-size) - var(--textarea-padding) * 2);
    height: 141px;
    padding: var(--textarea-padding);
    border: none;
    resize: none;
    outline: none;
    background: none;
    color: #444;
    font-weight: bold;
    font-size: 11px;
}

.newNote .formHead {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.newNote .formFooter {
    display: flex;
    justify-content: space-between;
}

.newNote .formFooter input {
    background: none;
    border: none;
    outline: none;
    color: #444;
    font-weight: bold;
    font-size: 11px;
}

.newNote .formFooter input:hover {
    color: #777;
}

.newNote .nameField {
    padding: 0;
    border: none;
    border-bottom: 2px solid #444;
    outline: none;
    background: transparent;
    font-weight: bold;
    font-size: 11px;
    color: #444;
}

.newNote .nameField::placeholder {
    color: #444;
}