.newNote {
  padding: 10px;
  width: var(--note-size);
  height: var(--note-size);
  position: absolute;
  z-index: 3;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.7);
}

.newNote textarea {
  width: calc(var(--note-size) - var(--textarea-padding) * 2);
  height: 131px;
  padding: var(--textarea-padding);
  border: none;
  resize: none;
  outline: none;
  background: none;
  color: var(--note-contrast);
  font-weight: bold;
  font-size: 11px;
}

.newNote .formHead {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.newNote .formFooter {
  display: flex;
  justify-content: space-between;
}

.newNote .formFooter input {
  background: none;
  border: none;
  outline: none;
  color: var(--note-contrast);
  font-weight: bold;
  font-size: 11px;
}

.newNote .formFooter input:hover {
  color: var(--note-contrast-hover);
}

.newNote .nameField {
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--note-contrast);
  outline: none;
  background: transparent;
  font-weight: bold;
  font-size: 11px;
  color: var(--note-contrast);
}

.newNote .nameField::placeholder {
  color: var(--note-contrast);
}

.preview button,
.newNote .formFooter button {
  width: 26px;
  height: 26px;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.preview {
  position: absolute;
  z-index: 3;
}

.preview .note {
  position: static;
}

.previewFooter {
  position: absolute;
  z-index: 4;
  bottom: 10px;
  left: 10px;
  width: 62px;
  display: flex;
  justify-content: space-between;
}
