.note {
  padding: 10px;
  width: var(--note-size);
  height: var(--note-size);
  position: absolute;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
}

.note .noteHead {
  display: flex;
  align-items: center;
}

.note img {
  height: 26px;
  width: 26px;
}

.note .name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note .text {
  height: 137px;
  margin: 16px 0 6px 0;
  font-weight: bold;
  overflow: auto;
  font-family: inherit;
  font-size: 12px;
}

.note .date {
  font-size: 12px;
  text-align: right;
}
