:root {
  --note-size: 200px;
  --textarea-padding: 2px;
}

html, body, #root, .board {
  height: 100%;
  width: 100%;
  background: cornsilk;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}