:root {
  --note-size: 200px;
  --textarea-padding: 2px;
  --avatar-contrast: #fff;
  --avatar-color: #1e8cbe;
  --note-contrast: #f3f3f3;
  --note-contrast-hover: #d9d9d9;
  --color-variant-highlight: #000;
}

html,
body,
#root,
.board {
  height: 100%;
  width: 100%;
  background: #fff3cc;
  overflow: hidden;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.loader {
  margin: 80px auto auto;
  display: flex;
  justify-content: center;
}

.error {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 80px;
}
