:root {
  --note-size: 200px;
  --textarea-padding: 2px;
}

html,
body,
#root,
.board {
  height: 100%;
  width: 100%;
  background: #fff3cc;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.loader {
  margin: 80px auto auto;
  display: flex;
  justify-content: center;
}

.error {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 80px;
}
